@import "tailwindcss";



:root {
  --background: #ECFDF5; /* Tailwind green-50 */
  --foreground: #171717;
  --foreground-rgb: 0, 0, 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAFB;
    --foreground: #F9FAFB;

    
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@keyframes progress-stripes {
  0% { background-position: 0 0; }
  100% { background-position: 40px 0; }
}

.animate-[progress-stripes_1s_linear_infinite] {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.2) 10px,
    transparent 10px,
    transparent 20px
  );
  background-size: 40px 40px;
}



body {
  background: linear-gradient(to top, #ECFDF5, #FFFFFF);
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));

}
