@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;

  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;

    
  }
}

body {
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
}
