@import "tailwindcss";



:root {
  --background: #ECFDF5; /* Tailwind green-50 */
  --foreground: #171717;
  --foreground-rgb: 0, 0, 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAFB;
    --foreground: #F9FAFB;

    
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}



body {
  background: linear-gradient(to top, #ECFDF5, #FFFFFF);
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
  overflow:auto;
}
